label{
    padding-bottom:0.25rem;
    display:block;
    color:#828282;
}
h1{
    font-size:1rem;
}
.logo {
    font-size:0.875rem;
    text-align:center;
    padding:1rem;
}
.logo span:last-child{
   color:#2F80ED;
   font-weight:bold;
}
.greyBorder{
    border:1px solid #E0E0E0;
    border-radius:0.25rem;
}

.radioWrapper{
    display:flex;
}
.radioWrapper > span{
    padding-left:0.5rem;
}
.radioWrapper{
    padding-top:0.5rem;
}
.inputWrapper + .inputWrapper{
    padding-top:1rem;
}

.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}

 .bold{
    font-weight: bold;
}
.color-primary{
    color:#2F80ED;
}






.padding-top-1_2{
    padding-top:0.5rem  !important;;
}

.padding-1{
    padding:1rem  !important;;
}
.padding-top-1{
    padding-top:1rem  !important;;
}


.padding-left-1{
    padding-left:1rem  !important;;
}.padding-right-1{
    padding-right:1rem  !important;;
}.padding-bottom-1{
    padding-top:1rem  !important;;
}

.padding-2{
    padding:2rem !important;
}
.padding-top-2{
    padding-top:2rem  !important;;
}
.padding-left-2{
    padding-left:2rem  !important;;
}.padding-right-2{
    padding-right:2rem  !important;;
}.padding-bottom-2{
    padding-top:1rem  !important;;
}

.margin-top-1{
    margin-top:1rem !important;
}
.margin-top-2{
    margin-top:2rem !important;
}

.left{
    text-align:left !important;
}
.right{
    text-align:right !important;
}

.large-text{
    font-size:1.5rem !important;
}