.AuthFormWrapper{
    padding:1rem 2rem 2rem 2rem;
}

.AuthFormHeader{
    text-align: center;;
}

.inputContainer{
    padding-top:2rem;
}

.buttonWrapper{
    padding-top:2rem;
    display:flex;
    justify-content:center;
}
.secButtons{
    display:flex;
    justify-content: space-between;
}

.loginButton span{
    width:100%;
    text-align:center;
}
.registerButton{
    color:#828282;
    font-weight: normal;
}
.registerButton > .bold{
    color:#2F80ED;
}




