.error{
    border:2px solid #BC0C0C !important;
}
.error-label{
    color:#BC0C0C;
    display:none;
}
.error-label.show{
    display:block;
}


textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=date],
input[type=time]{
    display:block;
    width:100%;
    height:2rem;
    padding:0.5rem;
    appearance : none;
    border:1px solid lightgrey;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
}

input[type=radio]{
    zoom:1.4;
}
input[type=radio] ~ span{
    font-size:0.9rem;
}
textarea{
    height:4rem;
    appearance : none
}
textarea::placeholder,
input::placeholder{
    color:#CFCECE;
}
