.text{
    font-size:1rem;  
}
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100vW;
    height:100vH;
    background:rgb(0,0,0,0.5);
}
.elements{
    position:relative;
    top:20%;
    margin:1rem;
    background:white;
    padding:2rem 1rem 1rem 1rem;
    border-radius:0.25rem;
}
.helptext{
    padding-top:1rem;
    padding-bottom:2rem;
    color:#828282;
}