.primaryButton{
    background:#2F80ED;
    color:white;
    font-weight: bold;
    appearance:none;
    border:0;
    padding: 0.2rem 0.8rem;
    border-radius:4px;
    min-height:34px;
    cursor:pointer;
    width:100%;
    text-align: center;
}
.neutralButton{
    background:white;
    color:#2F80ED;
    font-weight: bold;
    appearance:none;
    border:2px solid #2F80ED;
    padding: 0.2rem 0.8rem;
    border-radius:4px;
    min-height:34px;
    cursor:pointer;
    width:100%;
    text-align: center;
}
.secondaryButton{
    background:white;
    color:#2F80ED;
    border:0;
    font-weight: bold;
    appearance:none;
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:34px;
    cursor:pointer;
}

.secondaryButton:focus,
.secondaryButton:active{
    border:0;
    outline:none;
}

.primaryButton > .icon,
.secondaryButton > .icon{
    font-size:1.2rem;
    position:relative;
    top:1px;

}
