.table{
    margin:0 1rem;
    border-radius: 4px;
}
.row{
    display:flex;
    flex-wrap: wrap;
    background:#F5F5F5;
    padding:1rem;
    border-radius: 4px;
    position:relative;
}

.row + .row{
    margin-top:0.5rem;
}
.row > div{
width:50%;
}
.row > div:nth-child(2n+1):not(:nth-child(2)),
.row > div:nth-child(2n+2):not(:nth-child(2)){
    padding-top:1rem;
}


.row > div:nth-child(2n+2):not(:nth-child(2)){
    padding-left:0.5rem;
}

.row > div:nth-child(2){
    width:100%;
}

.rowLabel{
    color : grey;
    text-transform: uppercase;
    font-size : 9px;
    letter-spacing:1px;
    font-weight:normal !important;
    display:block;
    padding-bottom:0.2rem;
}
.rowData{
    font-size:16px;
    
}

.name > .rowData{
    font-size:1.2rem;
    font-weight:bold;
    text-transform: capitalize;
}
.guestOf > .rowData{
    text-transform: capitalize;
}


.cross{
    position:absolute;
    top:0.5rem;
    right:1.2rem;
    margin:0;
    padding:0;
   
}
.cross:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    border-left:1px solid black;
    box-sizing:border-box;
    top:0;
    transform:rotate(-45deg) translateX(4.6px)

}
.cross:before{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    border-right:1px solid black;
    box-sizing:border-box;
    top:0;
    transform:rotate(45deg) translateX(-4.6px)
}

