.GuestTrackerApp{
    border :1px solid lightgrey;
    border-radius:0.25rem;

    width:375px;
    font-size:13px;
    font-family: 'Roboto', sans-serif; 
    padding:1rem 0 2rem 0;
}

.primaryButton{
    background:#2F80ED;
    color:white;
    font-weight: bold;
    appearance:none;
    border:0;
    padding: 0.2rem 0.8rem;
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:34px;
    cursor:pointer;
}
.secondaryButton{
    background:white;
    color:#2F80ED;
    border:0;
    font-weight: bold;
    appearance:none;
    padding: 0.2rem 0.8rem;
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-height:34px;
    cursor:pointer;
}
.secondaryButton:focus,
.secondaryButton:active{
    border:0;
    outline:none;
}
.addMemButton{
    display:flex;
    justify-content:flex-end;
}
.primaryButton > .icon,
.secondaryButton > .icon{
    font-size:1.2rem;
    position:relative;
    top:1px;

}
.primaryButton > .buttonText,
.secondaryButton > .buttonText{
    padding-left:0.5rem;
}

.buttonWrapper{
    margin-top:1rem;
    text-align:right;
    display:flex;
    align-items:center;
    justify-content:center;
}
